<?xml version="1.0" encoding="UTF-8"?>
<!-- The plugin.dtd file is located in the OXYGEN_INSATALL_DIR/plugins directory -->
<!DOCTYPE plugin SYSTEM "../plugin.dtd">

<plugin
 id="com.oxygenxml.examples.webdav.CustomProtocol"
 name="WebDAV Connector"
 description="Plugin that enables oXygen XML Web Author to connect to a server with WebDAV support."
 version="${project.nosnapshot.version}"
 vendor="SyncRO"
 class="com.oxygenxml.examples.webdav.WebdavPlugin">
 <runtime>
  <librariesFolder name="lib"/>
  <library name="target/classes"/>
 </runtime>
 <extension type="URLHandler" 
  class="com.oxygenxml.examples.webdav.WebdavURLHandlerExtension"/>
 <extension type="WebappServlet" 
  class="com.oxygenxml.examples.webdav.LoginServlet"/>
 <extension type="WebappServlet" 
  class="com.oxygenxml.examples.webdav.WebdavUrlInfo"/>
 <extension type="WebappServlet" role="config"
  class="com.oxygenxml.examples.webdav.WebdavPluginConfigExtension"/>
 <extension type="WebappStaticResourcesFolder" 
  path="resources/" href="webdav"/> 
 <extension type="LockHandlerFactory"
  class="com.oxygenxml.examples.webdav.WebdavLockHandlerFactory"/>
</plugin>