<?xml version="1.0" encoding="UTF-8"?>
<!-- The plugin.dtd file is located in the OXYGEN_INSATALL_DIR/plugins directory -->
<!DOCTYPE plugin SYSTEM "../plugin.dtd">

<plugin
 id="com.oxygenxml.examples.webdav.CustomProtocol"
 name="WebDAVCustomProtocol"
 description="An example of a custom protocol implementation that connects the user to a WevDAV server."
 version="${project.version}"
 vendor="SyncRO"
 class="com.oxygenxml.sdksamples.webdav.WebdavPlugin">
 <runtime>
  <librariesFolder name="lib"/>
 </runtime>
 
 <extension type="URLHandler" 
  class="com.oxygenxml.sdksamples.webdav.WebdavURLHandlerExtension"/>
 <extension type="WebappServlet" 
  class="com.oxygenxml.sdksamples.webdav.LoginServlet"/>
 <extension type="WebappStaticResourcesFolder" 
  path="resources/" href="webdav"/> 
</plugin>
