.webdav-login-dialog label {
    text-align: left;
    display: block;
}

.webdav-config-dialog input {
    width: 80%;
    display: block;
}

.webdav-login-dialog input {
    width: 100%;
    display: block;
}

.webdav-domain-edit,
.webdav-domain-set,
.domain-icon {
    margin-right: 5px;
    display:inline-block;
    background: 50% 50% no-repeat;
    background-size: 16px 16px;
    width: 16px;
    height:16px;
}

.webdav-domain-edit,
.webdav-domain-set {
    padding-right: 5px;
    width: 20px;
    margin: 0 0 0 10px;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 2px;
}

.webdav-domain-edit {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAXUlEQVR42mNgGBKgoKAgAYj/Q3ECJZrBmCLNRBuASzNRXhhemj8AsQExmgWA+ABZmpEMUQDiC+RqBtnugOQVA1JTG8jWCVCvbIAaCKIboDgAZAFWg////08RptgAAMDo/Jm25cdCAAAAAElFTkSuQmCC);
}

.webdav-domain-set {
    background-image: url('SetRootUrl16.png');
}

.webdav-builtin-server {
    text-align: left;
    padding-top:20px;
}

.webdav-edit-root-url-ok,
.webdav-edit-root-url-cancel {
    border: solid 1px #D9D9D9;
    border-radius:4px;
    display:inline-block;
    background-color: #DEDEDE;
    padding: 0px 10px;
    margin-left: 10px;
}

.webdav-edit-root-url-cancel {
    margin-left:5px;
}

/*changes button styles on hover.*/
.webdav-builtin-server .webdav-use-builtin-btn:hover,
.webdav-edit-root-url-ok:hover,
.webdav-edit-root-url-cancel:hover {
    background-color: #d1d1d1;
    border-color: #337AB7;
    cursor: pointer;
}

.webdav-builtin-server .webdav-builtin-url {
    display: inline-block;
    width: 65%;
    margin-left: 5px;
}

.enforced-servers-config {
    padding: 20px;
    text-align: center;
}

.enforced-servers-config #webdav-browse-url {
    width: 70%;
}
.webdav-repo,
.webdav-repo-preview,
#webdav-browse-url {
    display: inline-block;
    height: inherit;
    white-space: nowrap;
}

.webdav-repo {
    width: 80%;
}

#webdav-browse-url {
    width: 100%;
}

.webdav-repo-editing {
    display: inline;
}

.webdav-repo:hover .webdav-domain-edit,
.webdav-repo:hover .webdav-domain-set {
    background-color: lightgrey;
}

.webdav-repo:hover .webdav-domain-edit:hover,
.webdav-repo:hover .webdav-domain-set:hover {
    border-color: grey;
    cursor: pointer;
}

.autosave-status-clean,
.autosave-status-saving,
.autosave-status-error {
    margin-left: 5px;
    color: #c0c3c5;
    cursor: pointer;
}

.autosave-failed-save-as,
.autosave-failed-download {
    font-weight: bold;
    text-decoration: none;
}

.webdav-hide-logout .webdav-logout-container {
    display: none;
}

.webdav-logout-container {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 2px 5px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    z-index: 1;
    color: #F3F4F4;
}

.webdav-logout-container:hover {
    border-color: #D3D3D3;
}

.webdav-logout-container .webdav-username {
    color: #cccccc;
}
