.webdav-config-dialog {
    text-align: center;
    width: 100%;
}

.webdav-config-dialog input {
    width: 80%;
}

.webdav-login-dialog label {
    text-align: right;
    display: block;
}

.webdav-login-dialog input {
    width: 175px;
}

@media only screen and (max-width: 550px) {
    .webdav-config-dialog {
        width: auto;
    }
    .webdav-login-dialog label {
        text-align: left;
    }
    .webdav-login-dialog input {
        width: 100%;
        display: block;
    }
}

.webdav-domain-edit,
.domain-icon {
    margin-right: 5px;
    display:inline-block;
    background: 50% 50% no-repeat;
    background-size: 16px 16px;
    width: 16px;
    height:16px;
}

.webdav-domain-edit {
    display: none;
    float: right;
    padding-right: 5px;
    margin:0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAXUlEQVR42mNgGBKgoKAgAYj/Q3ECJZrBmCLNRBuASzNRXhhemj8AsQExmgWA+ABZmpEMUQDiC+RqBtnugOQVA1JTG8jWCVCvbIAaCKIboDgAZAFWg////08RptgAAMDo/Jm25cdCAAAAAElFTkSuQmCC);
    height: 32px;
    width: 20px;
    background-color: lightgrey;
    border-color: #ccc;
}

.file-browser-repo-config-area:hover > .webdav-domain-edit {
    display: inline-block;
}

.webdav-builtin-server {
    text-align: left;
    padding-top:20px;
}

.webdav-builtin-server .webdav-use-builtin-btn {
    border: solid 1px #D9D9D9;
    border-radius:4px;
    display:inline-block;
    background-color: #DEDEDE;
    height:2em;
    padding:0px 10px;
}
/*changes button styles on hover.*/
.webdav-builtin-server .webdav-use-builtin-btn:hover {
    background-color: #d1d1d1;
    border-color: #337AB7;
    cursor: pointer;
}

.webdav-builtin-server .webdav-builtin-url {
    display: inline-block;
    width: 65%;
    margin-left: 5px;
}
